@import '../../../style/vars';
@import '../../../style/mixins';

.singleDeadline_box_container,
.singleProjectDeadline_box_container,
.singleProjectManager_box_container,
.singleProjectMembers_box_container,
.singleProjectTasks_box_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-collapse: separate;
  @include box();
  margin-top: 5%;


  .singleDeadline_box,
  .singleProjectDeadline_box,
  .singleProjectManager_box,
  .singleProjectMembers_box,
  .singleProjectTasks_box {
    width: 100%;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 15px;
    }

    &__itemWithIcon {
      padding: 15px 15px 5px;
    }

    &__itemWithScroll {
      margin: 10px 0;
      padding: 15px;
      @include box();
      overflow-y: scroll;
      height: 100px;
    }

    &__itemWithScrollMember {
      height: 200px;
      margin: 10px 0;
      padding: 15px;
      overflow-y: scroll;

      .select_container {
        padding-left: 15px;
        padding-top: 30px;
        .dropdown_icon {
          transform: translateY(30%);
        }
        .add_icon {
          position: absolute;
          top: 50%;
          right: -39px;

        }
      }

    }

    &__projectsList {
      margin: 10px 0;
      &:nth-child(even) {
        background-color: $color-pink-even-table;
      }
    }

    &--bold {
      font-weight: bolder;
    }

    &--deadline {
      @include title($color-green-deadline);
    }

    &--manager {
      @include title($color-blue-admin);
    }

    &--members {
      @include title($color-blue-user);
    }

    &--tasks {
      @include title($color-yellow-task);
    }
  }

  .form_deadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    button {
      @include box();
      padding: 5px 10px;
      font-weight: 600;

    }
  }
}