@import '../../style/vars';

.profile_container {
  display: flex;
  height: 28px;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  .profile_image {
    border-radius: $radius-round;
    width: 34px;
    padding: 6px;
    background-color: $color-white;
    box-shadow: $shadow-profile;
  }

  .profile_name {
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
