@import '../../../style/vars';
@import '../../../style/mixins';

.singleAssets_box_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-collapse: separate;
  @include box();
  margin-top: 5%;;


  .singleAssets_box {
    @include title($color-orange-assets);
    width: 100%;

    &__item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 15px;
    }
    &--bold {
      font-weight: bolder;
    }
  }
}