@import '../../../style/vars';
@import '../../../style/mixins';

.singleAssignee_box_container {
  margin-top: 20px;

  @include title($color-blue-user);

  .singleAssignee_box {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    &--title{
      margin: 0 20px;
    }
  }

  .dropdown_icon {
    transform: translateY(-60%) !important;
  }
}