
//button hover 

@mixin button-hover($bg-hover, $color-hover, $transition) {
  transition: $transition;

  &:hover {
    background: $bg-hover;
    color: $color-hover;
    border: $bg-hover;
  }
}

@mixin link-hover($transition, $fontweight) {

  transition: $transition;

  &:hover {
    font-weight: $fontweight;
    text-decoration: underline;
  }

}


//box
@mixin box {
  border: 1px var(--text-color) solid;
  border-radius: $radius-small;
  box-shadow: $shadow-regular;
}

// title
@mixin title($color) {
  -webkit-text-stroke: 1px var(--text-color);
  color: $color;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 30px;
}