
//button hover 

@mixin button-hover($bg-hover, $color-hover, $transition) {
  transition: $transition;

  &:hover {
    background: $bg-hover;
    color: $color-hover;
    border: $bg-hover;
  }
}

@mixin link-hover($transition, $fontweight) {

  transition: $transition;

  &:hover {
    font-weight: $fontweight;
    text-decoration: underline;
  }

}