// IMPORTANT DO NOT TOUCH
// THIS ROOT VARIABLES ARE IN CHARGE OF GLOBAL THEME OF ENTIRE APPLICATION
:root {
  --bg-color: #fff;
  --text-color: #121212;
  --shadow-color:  #E5E5E5
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #fff;
  --shadow-color: #121212;
}