/**
 * Global variables
 * ======================
 * - Generic colors
 * - Color scheme
 * - Links
 * - Text selection
 * - Shadows
 * - Border radius
 * - Breakpoints
 * - Any others..
 */

// Generic colors
$color-yellow-task: #f4bf42;
$color-red-project: #ea3358;
$color-blue-user: #5dcffa;
$color-blue-admin: #5daffa;
$color-pink-status: #ef89c3;
$color-green-deadline: #21ab38;
$color-blue-progression: #4269f4;
$color-purple-comment: #9042f4;
$color-orange-assets: #f48242;
$color-pink-even-table: rgba(#F0BDDA, 50%);
$color-green-hover-table: rgba(#21ab38, 40%);


// Color Scheme
$color-black: #000;
$color-white: #fff;

// Links
$link-default: $color-white;
$link-visilted: $link-default;
$link-hover: darken($link-default, 20%);
$link-active: darken($link-default, 20%);

// Text Selection
$color-selection: $color-white;
$color-selection-bg: $color-black;

// Font-sizes
$font-size-nav: 18px;
$font-size-single-task: 14px;

// Shadows
$shadow-regular: 0px 4px 4px rgba(#000, .25);
$shadow-nav-active: -1px 2px 0px 1px #000;
$shadow-profile: 1px 2px 7px rgba(#000, .25);
$shadow-fancy: 0px 11px 20px var(--shadow-color), 0px -4px 20px var(--shadow-color);

// Border radius
$radius-small: 4px;
$radius-round: 50%;

// Breakpoints
$breakpoint-s: 400px;
$breakpoint-m: 750px;
$breakpoint-l: 1000px;
$breakpoint-xl: 1250px;


// Containers
$container-login: 546px;

// transition
$transition-regular: all 200ms ease-in;
$transition-linear: all 100ms linear;
