@import '_reset.scss';
@import '_vars.scss';
@import '_mixins.scss';

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  min-height: 100%;
}

:root {
  --bg-color: #fff;
  --text-color: #121212;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #fff;
}