@import '../../style/index.scss';

.login_wrapper {
  max-width: 547px;
  height: 409px;
  margin: 0 auto;
  border: 2px $primary solid;
  border-radius: $radius_small;
  box-shadow: $shadow_regular;

  .login {
    &_input {
      display: block;
      max-width: 410px;
      height: 46px;
    }
  }
}
