body{
  background-color: white;
}

.App {
  max-width: 1100px;
  margin: 100px auto;
}

.task{
  display: flex;
  text-align: center;
  justify-content: space-between;

}

h1 {
  text-transform: uppercase;
  font-weight: 900;
}